:host {
  display: block;
  width: 100%;
}

table th,
table td {
  border-color: #E5E7EB;
}

.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #E2E8F0 #F8FAFC;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #F8FAFC;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #94A3B8;
}
