<div class="space-y-6">
  <!-- Welcome Greeting Banner -->
  <div
    class="bg-white rounded-xl p-6 sm:p-8 border border-[#E5E7EB] flex flex-col sm:flex-row items-start sm:items-center justify-between gap-4 text-left">
    <div class="space-y-2">
      <h1 class="text-xl sm:text-2xl font-bold text-neutral-90 tracking-tight">
        Selamat Datang, <span class="text-primary">{{ userName }}!</span>
      </h1>
      <p class="text-sm text-neutral-50 max-w-xl">
        Anda telah berhasil masuk ke dalam sistem portal operasional SAKU
      </p>
    </div>
  </div>
</div>